<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>
<hr>

<%=form_with url: tweets_path, method: :get do |form|   %>
  <p style="text-align:right;">
Buscar un Tweet o Usuario   <%= form.text_field :query_text, value: params[:query_text] %>
</p>
<%end%>
<hr>



<br><br>


<p style="text-align:right;">
<%= link_to "Nuevo Tweet", new_tweet_path, :class => "btn btn-primary"%>
</p>
<br> <br>


<div id="tweets">
  <% @tweets.each do |tweet| %>



    <%= render tweet %>
    <p style="text-align:right;">
    <br>
      <%= link_to "Mostrar", tweet, :class => "btn btn-outline-primary" %>
    <br> 
    <hr> 
    </p>
  <% end %>
</div>

<br>
<%= paginate @tweets%>